.footer__border{
    border-radius:4px ;
    border: solid 1px #d0d4d9 ;
}

.footer__border:hover{
    border-color:  #0066cc;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}
.footer__border:hover .footer__text-hover {
    color:#0066cc;
    text-decoration:none
}
.footer__border:hover .footer__right-arrow-icon, .footer__border:hover .footer__left-arrow-icon{
    color: #0066cc;
}


.footer__previous-page{
    font-size:12px ; 
    padding-top:19px;
    color :#808080 ;
}

.footer__text-hover{
    color: #000a14;
    padding-bottom: 19px;
    text-decoration: none;
    font-weight: 600;
    margin-top:4px;
}
.footer__right-arrow-icon{
    width:24px;
    height:24px; 
    margin:auto; 
    margin-right:16px; 
    color: #808080
 
}

.footer__border--m-24{
    margin-right: 24px;
}

.footer__left-arrow-icon{
    width:24px;
    height:24px; 
    margin:auto;
    margin-left:16px; 
    color:#808080;
}

.footer__align-left{
    margin:auto ; 
    margin-right:0;
}


.footer__outer-margin{
    margin-top :21px
}


